# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [138]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
address = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [5]:
chipo = pd.read_csv(address, delimiter='\t')

In [6]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [11]:
# Solution 1

chipo.shape[0]

4622

In [17]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [18]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [19]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [20]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [33]:
agg_func = {'quantity': ['sum']}

In [94]:
chipo_gb = chipo.groupby(by='item_name').agg(agg_func)

In [95]:
chipo_gb.head()

                      quantity
                           sum
item_name
6 Pack Soft Drink           55
Barbacoa Bowl               66
Barbacoa Burrito            91
Barbacoa Crispy Tacos       12
Barbacoa Salad Bowl         10

In [96]:
chipo_gb.columns

MultiIndex([('quantity', 'sum')],
           )

In [97]:
chipo_gb = chipo_gb.reset_index()

In [98]:
chipo_gb.head()

               item_name quantity
                              sum
0      6 Pack Soft Drink       55
1          Barbacoa Bowl       66
2       Barbacoa Burrito       91
3  Barbacoa Crispy Tacos       12
4    Barbacoa Salad Bowl       10

In [101]:
chipo_gb.columns = ['item_name', 'total_quantity']

In [102]:
chipo_gb.head()

               item_name  total_quantity
0      6 Pack Soft Drink              55
1          Barbacoa Bowl              66
2       Barbacoa Burrito              91
3  Barbacoa Crispy Tacos              12
4    Barbacoa Salad Bowl              10

In [103]:
chipo_gb = chipo_gb.sort_values(['total_quantity'], ascending=False)

In [105]:
chipo_gb.head(1)

       item_name  total_quantity
17  Chicken Bowl             761

### Step 10. For the most-ordered item, how many items were ordered?

In [115]:
chipo_gb.head(1)

       item_name  total_quantity
17  Chicken Bowl             761

### Step 11. What was the most ordered item in the choice_description column?

In [123]:
chipo_choice_gb = chipo.groupby('choice_description').agg(agg_func)

In [126]:
chipo_choice_gb = chipo_choice_gb.reset_index()

In [129]:
chipo_choice_gb.columns = ['choice_description', 'sum']

In [131]:
chipo_choice_gb = chipo_choice_gb.sort_values(['sum'], ascending=False)

In [134]:
chipo_choice_gb.head(1)

   choice_description  sum
15        [Diet Coke]  159

### Step 12. How many items were ordered in total?

In [135]:
total_items = chipo.quantity.sum()

In [136]:
total_items

4972

In [139]:
np.sum(chipo.quantity)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [137]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [151]:
change_type = lambda x: float(x[1:])

In [142]:
something = '£5.1234'

In [144]:
print(something[1:])

5.1234

In [153]:
chipo.item_price = chipo.item_price.apply(change_type)

In [154]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.c. Check the item price type

In [154]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [168]:
chipo["order_total"] = chipo['quantity'] * chipo['item_price']

In [169]:
revenue = chipo.order_total.sum()

In [170]:
print(revenue)

39237.02

### Step 15. How many orders were made in the period?

In [162]:
total_orders = chipo.order_id.nunique()
total_orders

1834

### Step 16. What is the average revenue amount per order?

In [163]:
# Solution 1

average_order = revenue / total_orders
average_order

21.39423118865867

In [171]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'order_total'],
      dtype='object')

In [174]:
# Solution 2

orders_groupby = chipo.groupby(by = ['order_id']).sum()

In [176]:
orders_groupby.head(5)

          quantity  item_price  order_total
order_id
1                4       11.56        11.56
2                2       16.98        33.96
3                2       12.67        12.67
4                2       21.00        21.00
5                2       13.70        13.70

In [177]:
orders_groupby.order_total.mean()

21.394231188658654

### Step 17. How many different items are sold?

In [178]:
chipo.item_name.nunique()

50