# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
address = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [4]:
chipo = pd.read_csv(address, sep='\t')

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [55]:
chipo['item_price_num'] = chipo.item_price.str.split('$').str[-1]

In [57]:
chipo.item_price_num = chipo.item_price_num.str.rstrip()

In [58]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [60]:
chipo['item_price_num'] = chipo['item_price_num'].astype('float')

#df['Fee'] = df['Fee'].astype('int')

In [31]:
cols = list(chipo.columns)

In [32]:
cols

['order_id',
 'quantity',
 'item_name',
 'choice_description',
 'item_price',
 'item_price_num']

In [61]:
chipo_no_duplicates = chipo.drop_duplicates([cols[1], cols[2], cols[3]])

In [62]:
chipo_no_duplicates.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [63]:
chipo_quantity_one = chipo_no_duplicates[chipo_no_duplicates.quantity == 1]

In [64]:
chipo_quantity_one.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98

In [65]:
chipo_greater_10 = chipo_quantity_one.query('item_price_num > 10')

In [67]:
chipo_greater_10.item_name.nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [68]:
chipo_quantity_one.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98

In [70]:
chipo_item_name_price = chipo_quantity_one[['item_name', 'item_price_num']]

In [71]:
chipo_item_name_price.head()

                               item_name  item_price_num
0           Chips and Fresh Tomato Salsa            2.39
1                                   Izze            3.39
2                       Nantucket Nectar            3.39
3  Chips and Tomatillo-Green Chili Salsa            2.39
5                           Chicken Bowl           10.98

### Step 6. Sort by the name of the item

In [84]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [85]:
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price,item_price_num
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

In [87]:
#chipo.item_name.sort_values()

### Step 7. What was the quantity of the most expensive item ordered?

In [89]:
chipo.head(15)

,order_id,quantity,item_name,choice_description,item_price,item_price_num
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
6,3,1,Side of Chips,NaN,$1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

In [91]:
chipo.sort_values(by = "item_price_num", ascending=False).head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [92]:
chipo_veggie_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

In [95]:
chipo_veggie_salad.shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [96]:
chipo_canned_soda_multiple = chipo[
    (chipo.item_name == "Canned Soda") &
    (chipo.quantity > 1)]

In [97]:
chipo_canned_soda_multiple.shape[0]

20